<div class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <div class="row">
      <div class="col md-9">
        <!-- Jumbotron -->
      <div class="jumbotron">

          <!-- Title -->
          <h4 class="card-title h4 pb-2 text-center"><strong>{{ promotion.pro_name }}</strong></h4>

          <!-- Card image -->
          <div class="view overlay my-4 waves-light" mdbWavesEffect>
            <img [src]="promotion.pro_image" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <h5 class="indigo-text h5 mb-4 font-thai text-center">ราคา</h5>
          <h5 class="h5 mb-4 font-thai text-center deep-orange-lighter-hover">฿{{promotion.pro_price}}</h5>

          <h5 class="indigo-text h5 mb-4 font-thai text-center">รายละเอียด</h5>

          <p class="card-text" [innerHTML]="promotion.pro_detail"></p>

          <div class="row">
            <div class="col-md-12">
              <a mdbBtn type="button" color="danger" block="true"  mdbWavesEffect>ซื้อโปรโมชัน</a>
            </div>
          </div>

        </div>
        <!-- Jumbotron -->
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
