<!-- <div class="auth-layout-wrap" style="background: url(./assets/images/bg-header.jpg)no-repeat center center;"> -->
<div class="card card-image view auth-layout-wrap" style="background: url(./assets/images/bg-header.jpg)no-repeat center center;"> -->
  <div class="auth-content container">
      <p><br><p></p>
      <p><br><p></p>
      <p><br><p></p>
      <p><br><p></p>
      <div class="card o-hidden" >
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="p-4">

                      <small class="text-success">สมัครสมาชิกเรียบร้อยแล้ว!</small>
                      <h1 class="text-18 font-weight-bold mt-3 font-thai">ขอบคุณสำหรับการสมัครสมาชิกกับเรา</h1>
                      <p class="font-thai">
                        คุณสามารถเข้าดูโปรโมชัน หรือกิจกรรมต่างของเรา<br/>
                        และสามารถสั่งซื้อโปรโมชันแบบออนไลน์ เพียงกดเข้าสู่ระบบ
                      </p>
                      <button routerLink="/auth/login" class="btn btn-midnight btn-block mt-2">กดเพื่อเข้าสู่ระบบ</button>


                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
