<div class="card card-image view" style="background: url(./assets/images/bg-header.jpg)no-repeat center center;">
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <div class="container">

  <div class="row">
    <div class="col-md-6 d-none d-sm-block" aling="center">
        <p><br></p>
        <div class="slider-img">
            <img src="./assets/images/show/golfer-slide.png" alt="slider image">
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-white text-center py-5 px-4 my-5">
            <div>
              <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                <strong>Thailand Golf Culb</strong></h2>
                <p class="mx-5 mb-5">Golf Culb In Bangkok, Thailand
                  Join us today,  Ready To Receive Many Great Promotions
                </p>
              <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
                <mdb-icon fas icon="clone" class="left"></mdb-icon>JOIN NOW
              </a>
            </div>
          </div>
    </div>
  </div>
  </div>

</div>
